
<my-app></my-app>
<app-market>
    <img class="text-center" src="~/img/loading.gif" style="display:block; margin:auto;" alt="loading" />
</app-market>
<app-order hidden></app-order>


@*(change)="onChange($event.target.value)"*@
<script>
   
    function viewMarket() {
        var market = document.getElementById("market");
        var order = document.getElementById("order");
        order.style.display = "none";

        market.removeAttribute("hidden");
        market.style.display = "block";
        order.setAttribute("hidden", true);

    }
    function viewOrder() {
        var market = document.getElementById("market");
        var order = document.getElementById("order");
        market.style.display = "none";
        order.style.display = "block";

        order.removeAttribute("hidden");
        market.setAttribute("hidden",true);

    }
</script>
@*<table>
    <tr>
        <td style="width:20%"><div><img style="height:200px;width:auto" src="~/img/stockImg/ADR.png" alt="Alternate Text" /></div></td>
    </tr>
</table>*@
